---
import Layout from '../layouts/Layout.astro';
import Overlay from '../layouts/Overlay.astro';
import Header from '../components/Header.astro';
import AboutMe from '../components/AboutMe.astro';
import Proyects from '../components/Proyects.astro';
import Proyect from '../components/Proyect.astro';
---

<Layout title='Luis González Portfolio'>
	<Overlay>
		<main>
			<Header></Header>
			<AboutMe></AboutMe>
			<Proyects>
				<Proyect 
				title='Proyecto Homeland' 
				text='Primer proyecto con diseño web adaptativo' 
				image='../../public/proyect-homeland.PNG' 
				link='https://luis-gn006.github.io/web_project_homeland/index.html'>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="25" height="25"/>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="25" height="25"/>
				</Proyect>
				<Proyect 
				title='Hackathon 2024' 
				text='Proyecto del hackathon de TripleTen en colaboración con el área de datos, implementa utilizacion de canvas , además de manejo de datos en JSON.' 
				image='../../public/hackathon-2024.PNG' 
				link='https://luis-gn006.github.io/hackathon2024/index.html'>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="25" height="25"/>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="25" height="25"/>
				</Proyect>
				<Proyect 
				title='Social Links' 
				text='Pagina con semejanza a un perfil de redes sociales.' 
				image='../../public/social-links.PNG' 
				link='https://luis-gn006.github.io/social_links_profile/index.html'>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="25" height="25"/>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="25" height="25"/>
				</Proyect>
			</Proyects>
		</main>
	</Overlay>
</Layout>

<style>
	main {
		padding: 0;
		margin: 0;
		color: white;
		font-size: 18px;
		line-height: 1.6;
		position: relative;
	}
</style>
