---
import Layout from '../layouts/Layout.astro';
import Overlay from '../layouts/Overlay.astro';
import Header from '../components/Header.astro';
import AboutMe from '../components/AboutMe.astro';
import Proyects from '../components/Proyects.astro';
import Proyect from '../components/Proyect.astro';
import Skills from '../components/Skills.astro';
import MoreInfo from '../components/MoreInfo.astro';
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro';
---

<Layout title='Luis González Portfolio'>
	<Overlay>
		<main>
			<Header></Header>
			<AboutMe></AboutMe>
			<Proyects>
				<Proyect 
				title='Alrededor de los Estados Unidos' 
				text='Página interactiva similar a una red social donde los usuarios pueden añadir, eliminar y dar like a fotos, así como editar su nombre de usuario e información personal a través de una API.' 
				image='/preview-around.PNG' 
				link='https://luis-gn006.github.io/web_project_around_react/'
				repo='https://github.com/luis-gn006/web_project_around_react'>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="25" height="25"/>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="25" height="25"/>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="25" height="25"/>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg" alt="react" width="25" height="25"/>
				</Proyect>
				<Proyect 
				title='Carrito de compras' 
				text='Página de compras interactiva en la cual se pueden añadir o quitar articulos, para despues proceder al total de la compra.' 
				image='/preview-product-cart.jpg' 
				link='https://luis-gn006.github.io/product-list-with-cart-main/index.html'
				repo='https://github.com/luis-gn006/product-list-with-cart-main'>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="25" height="25"/>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="25" height="25"/>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="25" height="25"/>
				</Proyect>
				<Proyect 
				title='Hackathon 2024' 
				text='Proyecto del hackathon de TripleTen en colaboración con el área de datos, implementa utilizacion de canvas , además de manejo de datos en JSON.'
				image='/preview-hackathon.PNG' 
				link='https://luis-gn006.github.io/hackathon2024/index.html'
				repo='https://github.com/luis-gn006/hackathon2024'>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="25" height="25"/>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="25" height="25"/>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="25" height="25"/>
				</Proyect>
				<Proyect 
				title='Aprender a aprender' 
				text='Proyecto realizado para reforzar el trabajo en equipo, CSS, HTML y BEM, además de pequeñas animaciones y un poco de JS (implementado en un botón de hamburguesa para resoluciones pequeñas).'
				image='/preview-aprender.PNG' 
				link='https://melomario57.github.io/Proyecto-Aprender-2/index.html'
				repo='https://github.com/Melomario57/Proyecto-Aprender-2'>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="25" height="25"/>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="25" height="25"/>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="25" height="25"/>
				</Proyect>
				<Proyect 
				title='De patria a patria' 
				text='Página web responsiva realizada en el bootcamp de tripleten'
				image='/preview-homeland.PNG' 
				link='https://luis-gn006.github.io/web_project_homeland/index.html'
				repo='https://github.com/luis-gn006/web_project_homeland?tab=readme-ov-file'>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="25" height="25"/>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="25" height="25"/>
				</Proyect>
				<Proyect 
				title='Cafeteria' 
				text='Página web realizada con estructura BEM'
				image='/preview-coffe.PNG' 
				link='https://luis-gn006.github.io/web_project_coffeeshop/index.html'
				repo='https://github.com/luis-gn006/web_project_coffeeshop'>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="25" height="25"/>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="25" height="25"/>
				</Proyect>
				<Proyect 
				title='Biblioteca' 
				text='La página web de la biblioteca Triple Peaks fue creada utilizando HTML y CSS, siguiendo un brief de diseño que buscaba ofrecer una experiencia intuitiva y atractiva a los usuarios.'
				image='/preview-libray.PNG' 
				link='https://luis-gn006.github.io/web_project_library/index.html'
				repo='https://github.com/luis-gn006/web_project_library'>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="25" height="25"/>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="25" height="25"/>
				</Proyect>
				<Proyect 
				title='Portafolio' 
				text='Protafolio personal desarrollado en Astro.'
				image='/preview-portfolio.PNG' 
				link='https://luis-gn006.github.io/portfolio/index.html'
				repo='https://github.com/luis-gn006/portfolio'>
					<img src="https://astro.build/assets/press/astro-icon-light.svg" alt="astro" width="20" height="20"/>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="25" height="25"/>
					<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="25" height="25"/>
				</Proyect>
			</Proyects>
			<Skills />
			<MoreInfo />
			<Contact />
			<Footer />
		</main>
	</Overlay>
</Layout>

<style>
	main {
		padding: 0;
		margin: 0;
		color: white;
		font-size: 20px;
		line-height: 1.6;
		position: relative;
	}
</style>
