<script>
    import {FormValidator, formConfig} from './FormValidator'

    const contactForm = document.querySelector('.contact__form');
    const contactFormValidation = new FormValidator(formConfig, contactForm);
    contactFormValidation.enableValidation();

    import { Resend } from 'resend';

    const resend = new Resend('re_TBP3362a_LHtm42LPVUTFkpeMtEnbFL1d');
    const contact = document.querySelector<HTMLFormElement>('.contact__form');
    const inputEmail = document.querySelector<HTMLInputElement>('.contact__form-email');
    const inputMessage = document.querySelector<HTMLTextAreaElement>('.contact__form-message');
    
    contact?.addEventListener('submit', function(e) {
        e.preventDefault();
        let data = [
            {
                email: inputEmail?.value,
                message: inputMessage?.value,
            },
        ];
        try {
            const emailSend = resend.emails.send({
                from: `${data[0].email}`,
                to: ['luis.hellraiser06@gmail.com'],
                subject: 'Trabajemos juntos',
                html: `<p>${data[0].message}</p>`,
            });
            contact.reset();
        } catch (error) {
            return console.error
        } finally {
            return console.log({data});
        }
    });
</script>

<section class='contact' id='contact'>
    <h4 class='contact__title'>Creemos algo juntos</h4>
    <form class='contact__form' novalidate>
        <fieldset class='contact__form-set'>
            <label class='contact__form-label' for='email'>E-mail</label>
            <input type='email'
                class='contact__form-input contact__form-email'
                id='email'
                name='email'
                placeholder='correo@correo.com'
                required />
            <div class='contact__line'></div>
            <span class='contact__input-error email-error'></span>
            <label class='contact__label-message' for='message'>Mensaje</label>
            <textarea 
                class='contact__form-input contact__form-message'
                id='message'
                name='message'
                placeholder='Trabajemos juntos   ESTA SECCION AUN ESTA EN DESARROLLO'
                minlength='5'
                required />
            <div class='contact__line'></div>
            <span class='contact__input-error message-error'></span>
            <button
                disabled
                type='submit'
                class='contact__form-button contact__form-button_active contact__create-button contact__form-button_disabled'
                value='send'
                >
                Enviar
            </button>
        </fieldset>
    </form>
</section>

<style>
    .contact {
        padding: 20px 0 40px 0;
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact__title {
        margin: 0;
        padding: 2px 0 10px 0;
    }
    .contact__form  {
        width: 100%;
        border: none;
    }
    .contact__form-set {
        border: none;
        margin: 0;
        padding: 0;
    }
    .contact__form-input {
        width: 97%;
    }
    .contact__form-input:focus {
        outline: 2px solid var(--first-color);
    }
    .contact__form-message {
        height: 100px;
        resize: none;
    }
    .contact__line {
        margin: 5px 0;
        height: 1px;
        background-color: #fff;
        width: 100%;
    }
    .contact__form-input_error {
        background-color: var(--first-color);
    }
    .contact__input-error {
        font-size: 12px;
        color: var(--first-color);
        opacity: 0;
        position: relative;
        top: calc(100% + 6px);
        transition: 0.3s;
        display: flex;
        justify-content: center;
        margin: 3px 3% 0;
        width: 90%;
        padding: 0 0 10px 0;
    }
    .contact__input-error_active {
        opacity: 1;
    }
    .contact__form-button_active {
        background-color: var(--first-color);
        border: 0;
        border-radius: 5px;
        height: 30px;
        color: #fff;
    }
    .contact__form-button_active:hover {
        opacity: 0.8;
    }
    ::placeholder {
        font-size: 12px;
    }

    @media screen and (min-width: 640px) {
        .contact{
            max-width: 580px;
            margin: 0 auto;
        }
        .contact__form-input {
            width: 99%;
        }
    }
</style>