<script>
    import {FormValidator, formConfig} from './FormValidator'
    //FormValidator
    const contactForm = document.querySelector('.contact__form');
    const contactFormValidation = new FormValidator(formConfig, contactForm);
    contactFormValidation.enableValidation();

    //Send email
    const popupEmailSended = document.querySelector<HTMLDivElement>('.contact__popup-sended');
    const popupEmailError = document.querySelector<HTMLDivElement>('.contact__popup-error');
    const popupButtons = document.querySelectorAll<HTMLButtonElement>('.contact__popup-button');

    function openPopup(popup: Element | null) {
        if (popup instanceof HTMLElement) {
            popup.classList.toggle('contact__popup-open');
        } else {
            console.error('El elemento no es un HTMLElement o es null');
        }
    }
    function closePopup(popup: Element | null) {
        if (popup instanceof HTMLElement) {
            popup.classList.remove('contact__popup-open');
        } else {
            console.error('El elemento no es un HTMLElement o es null');
        }
    }
        
    const contact = document.querySelector<HTMLFormElement>('.contact__form');
    const inputEmail = document.querySelector<HTMLInputElement>('.contact__form-email');
    const inputMessage = document.querySelector<HTMLTextAreaElement>('.contact__form-message');
    
    contact?.addEventListener('submit', async function(e) {
        e.preventDefault();
        let data = {
            email: inputEmail?.value,
            message: inputMessage?.value,
        };
        try {
            const response = await fetch('https://formsubmit.co/e422dd840b213c573f7ef344496d1885', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            });
            if (!response.ok) {
                openPopup(popupEmailError);
                throw new Error('Error al enviar el email');
            } else {
                contact.reset();
                openPopup(popupEmailSended);
            }
        } catch (error) {
            openPopup(popupEmailError);
            console.error(error);
        }
    });

    popupButtons.forEach(button => {
        button.addEventListener('click' , function() {
            closePopup(popupEmailError);
            closePopup(popupEmailSended);
        });
    });
</script>

<section class='contact' id='contact'>
    <h4 class='contact__title'>Creemos algo juntos</h4>
    <form class='contact__form' novalidate>
        <fieldset class='contact__form-set'>
            <label class='contact__form-label' for='email'>E-mail</label>
            <input type='email'
                class='contact__form-input contact__form-email'
                id='email'
                name='email'
                placeholder='correo@correo.com'
                required />
            <div class='contact__line'></div>
            <span class='contact__input-error email-error'></span>
            <label class='contact__label-message' for='message'>Mensaje</label>
            <textarea 
                class='contact__form-input contact__form-message'
                id='message'
                name='message'
                placeholder='Trabajemos juntos'
                minlength='5'
                required />
            <div class='contact__line'></div>
            <span class='contact__input-error message-error'></span>
            <button
                disabled
                type='submit'
                class='contact__form-button contact__form-button_active contact__create-button contact__form-button_disabled'
                value='send'
                >
                Enviar
            </button>
        </fieldset>
    </form>
</section>

<div class="contact__popup contact__popup-sended">
    <div class="contact__popup-container">
        <button class="contact__popup-button">X</button>
        <p class="contact__popup-message">¡Correo enviado,</p>
        <p class="contact__popup-message">muchas gracias!</p>
        <p class="contact__popup-message contact__popup-message-bottom"> &#128512;</p>
    </div>
</div>

<div class="contact__popup contact__popup-error">
    <div class="contact__popup-container">
        <button class="contact__popup-button">X</button>
        <p class="contact__popup-message">No se pudo enviar el correo,</p>
        <p class="contact__popup-message">disculpe.</p>
        <p class="contact__popup-message contact__popup-message-bottom"> &#128517;</p>
    </div>
</div>

<style>
    .contact {
        padding: 20px 0 40px 0;
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact__title {
        margin: 0;
        padding: 2px 0 10px 0;
    }
    .contact__form  {
        width: 100%;
        border: none;
    }
    .contact__form-set {
        border: none;
        margin: 0;
        padding: 0;
    }
    .contact__form-input {
        width: 97%;
    }
    .contact__form-input:focus {
        outline: 2px solid var(--first-color);
    }
    .contact__form-message {
        height: 100px;
        resize: none;
    }
    .contact__line {
        margin: 5px 0;
        height: 1px;
        background-color: #fff;
        width: 100%;
    }
    .contact__form-input_error {
        background-color: var(--first-color);
    }
    .contact__input-error {
        font-size: 12px;
        color: var(--first-color);
        opacity: 0;
        position: relative;
        top: calc(100% + 6px);
        transition: 0.3s;
        display: flex;
        justify-content: center;
        margin: 3px 3% 0;
        width: 90%;
        padding: 0 0 10px 0;
    }
    .contact__input-error_active {
        opacity: 1;
    }
    .contact__form-button_active {
        background-color: var(--first-color);
        border: 0;
        border-radius: 5px;
        height: 30px;
        color: #fff;
    }
    .contact__form-button_active:hover {
        opacity: 0.8;
    }
    ::placeholder {
        font-size: 12px;
    }
    .contact__popup {
        display: flex;
        background-color: #0000009f;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        z-index: 30;
        left: 0;
        display: none;
    }
    .contact__popup-error {
        display: none;
    }
    .contact__popup-container {
        background-color: #fff;
        width: 50%;
        height: max-content;
        position: relative;
        top: 25%;
        margin: 0 auto;
        z-index: 31;
        border-radius: 8px;
        border: solid 3px var(--first-color);
    }
    .contact__popup-button {
        border: none;
        position: relative;
        top: -40px;
        left: 99%;
        background-color: #00000000;
        color: #fff;
        font-size: 34px;
    }
    .contact__popup-button:hover {
        color: var(--first-color);
        cursor: pointer;
    }
    .contact__popup-message {
        color: #000;
        margin: auto 5%;
        text-align: center;
        font-size: 1.3em;
    } 
    .contact__popup-message-bottom {
        margin: 0 0 4% 0;
    }
    .contact__popup-open {
        display: block;
    }

    @media screen and (min-width: 640px) {
        .contact{
            max-width: 580px;
            margin: 0 auto;
        }
        .contact__form-input {
            width: 99%;
        }
    }
</style>