<footer class='footer'>
    <div class="footer__circle"><p class="footer__initial">L</p></div>
    <div class="footer__texts">
        <p class='footer__text'>Desarrollemos juntos lo que sueñas</p>
        <p class="footer__name">Luis González</p>
    </div>   
    <div class='footer__links'>
        <a class="footer__github" target="_blank" href="https://github.com/luis-gn006"></a>
        <a class="footer__linkedin" target="_blank" href="https://www.linkedin.com/in/luis-enrique-g-7645a5297/"></a>
    </div>
</footer>

<style>
    .footer {
        margin:0 20px;
        padding: 20px 0 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__text {
        text-align: center;
        font-size: 18px;
    }
    .footer__name {
        text-align: center;
    }
    .footer__circle {
        background-color: var(--first-color);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px 0 0;
    }
    .footer__initial {
        font-size: 18px;
        font-weight: 600;
    }
    .footer__links {
        display: flex;
        gap: 30px;
        align-items: center;
        margin: 0 30px;
    }
    .footer__github {
        background: url('../../public/github-mark-white.svg') no-repeat;
        background-size: 20px ;
        width: 20px;
        height: 20px;
        box-sizing: content-box;
    }
    .footer__linkedin {
        background: url('../../public/LI-In-Bug.png') no-repeat;
        background-size: 20px ;
        width: 20px;
        height: 20px;
        margin: 3px 0 0 0;
        box-sizing: content-box;
    }
</style>