<script>
    const navButton = document.querySelector('.header__nav-burger');
    const popupNavButtons = document.querySelectorAll('.popup__nav-link');
    function togglePopup() {
        document.querySelector('.nav__popup')?.classList.toggle('nav__popup-visible');
    };
    navButton?.addEventListener('click', function() {
        togglePopup();
    })
    popupNavButtons.forEach((button) => button.addEventListener('click' , function() {
        togglePopup();
    }));
</script>

<header class='header'>
    <img src="/logo.svg" alt="imagen del logo" class='header__circle'>
    <div class='header__nav-str'>
        <a href='#aboutMe' class='nav__link nav__link1'>Inicio</a>
        <a href='#proyects' class='nav__link nav__link2'>Proyectos</a>
        <a href='#skills' class='nav__link nav__link3'>Habilidades</a>
        <a href='#moreInfo' class='nav__link nav__link4'>Sobre mi</a>
        <a href='#contact' class='nav__link nav__link5'>Contacto</a>
    </div>
    <button class='header__nav-burger'>
        <span class='line-1'></span>
        <span class='line-2'></span>
        <span class='line-3'></span>
    </button>
</header>

<div class='nav__popup'>
    <a href='#aboutMe' class='popup__nav-link nav__link1'>Inicio</a>
    <a href='#proyects' class='popup__nav-link nav__link2'>Proyectos</a>
    <a href='#skills' class='popup__nav-link nav__link3'>Habilidades</a>
    <a href='#moreInfo' class='popup__nav-link nav__link4'>Sobre mi</a>
    <a href='#contact' class='popup__nav-link nav__link5'>Contacto</a>
</div>


<style>
    .header {
        z-index: 2;
        margin: 0;
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        background-color: var(--fourth-color);
    }
    .header__circle {
        background-color: var(--first-color);
        border-radius: 50%;
        width: 35px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px 0 0;
    }
    .header__nav-burger {
        width: 21px;
        height: 30px;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 50%;
        border: 1px solid transparent;
        box-sizing: content-box;
    }
    .header__nav-burger:hover {
        border: 1px solid var(--first-color);
    }
    span {
        width: 4px;
        height: 4px;
        background-color: var(--fourth-color);
        display: block;
        border-radius: 50%;
    }
    .nav__popup {
        display: none;
        width: 100px;
        height: 100px;
        background-color: var(--fourth-color);
        position: fixed;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 4;
    }
    .nav__popup-visible {
        padding: 60px 0 0 0;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        gap: 20px;
    }
    .header__nav-str {
        display: none;
    }
    a {
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
    }
    a:hover {
        color: var(--first-color);
    }

    @media screen and (min-width: 640px) {
        .header__nav-burger {
            display: none;
        }
        .header__nav-str {
            display: flex;
            gap: 15px;
        }
    }
</style>