<section class="more-info">
    <h4 class="more-info__title">Un poco más sobre mí</h4>
    <div class="more-info__line"></div>
    <div class="more-info__text-container">
        <p class="more-info__text">Hola! Soy Luis, apasionado en todo lo que hago y ahora en el mundo tech, estudiante del bootcamp TripleTen.</p>
        <p class="more-info__text">Me gusta asumir retos y mantenerme en aprendizaje constante.
            Me facina cada día encontrar nuevos modos de implementar, programar o de llegar a nuevas soluciones que mejoren la experiencia de todos.
            También soy gran fan de la lectura, soy músico y cuento con una ingeniería en audio.</p>
    </div>
</section>

<style>
    .more-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20px;
        padding: 20px 0;
    }
    .more-info__title {
        margin: 0 0 5px 0;
    }
    .more-info__line {
        height: 1px;
        width: 90%;
        background-color: var(--first-color);
        margin: 0 0 20px 0;
    }
    .more-info__text-container {
        background-color: var(--third-color);
        padding: 10px;
        border-radius: 20px;
    }
    .more-info__text {
        font-size: 16px;
        text-align: center;
    }
</style>